@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.azeret-mono-<uniquifier> {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

* {
    margin: 0;
    padding: 0;

}

.basic-font {
    font-family: "Azeret Mono", monospace;
}

.dark1 {
    color: rgb(13, 19, 33);
}

.btn-primary {
    background-color: white;
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-weight: 600;
    color: rgb(13, 19, 33);
    padding: 18px 35px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    cursor: pointer;
}

.btn-primary:hover,
.btn-secondary:hover,
.btn-support:hover {
    background-color: rgb(220, 225, 236);
}

.btn-hero {
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 21px 24px;
    cursor: pointer;
    
    text-decoration: none;
    border: 1px solid black;
}

.btn-hero:hover {
    background-color: rgb(220, 225, 236);
    color: rgb(0, 0, 0);
}

.btn-secondary {
    background-color: white;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;

    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}


.btn-support {
    background-color: white;
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-weight: 600;
    color: rgb(13, 19, 33);
    padding: 17px 20px;
    box-sizing: border-box;
    /* border: 1px solid rgb(13, 19, 33); */
    border-radius: 8px;
    border: none;
    cursor: pointer;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 38px 150px;

}

nav>h2 {
    font-size: 28px;
    font-weight: 800;
}

/* Hero-bg */
.hero {
    /* width: 1920px;
    height: 870px; */
    width: 100%;
    height: 770px;
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* position: absolute; */

}

.hero-content {
    height: 680px;
    /* border: 2px solid black; */
    margin: 0 221px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px 70px;
}

.hero-title {
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}

.title-description {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;

}


/* main-style */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* -------------Why Web Development??--------- */
.whywebdev {
    /* background-color: aquamarine; */
    margin-top: 74px;
    padding: 120px;
}

.section-title {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    padding-bottom: 25px;
}

.section-description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    opacity: 0.7;
    padding-bottom: 50px;
}

.layer1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 130px;
    margin-top: 30px;
}

.layer2 {
    display: flex;
    gap: 35px;
    margin-bottom: 130px;
}

.layer3 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.text-container {
    margin: 0 130px;
}

.text {
    width: 480px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.text-title {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
}

.text-description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

/* --------------inspiration----------- */

.inspiration {
    display: flex;
    flex-direction: column;
}

.video-card {
    width: 1140px;
    height: 614px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;

}

.video-item {
    width: 1076px;
    height: 550px;
    border-radius: 15px;
}


/* -------------Current Target--------- */

.target-now {
    margin-top: 150px;
}

.target-card-container {
    display: flex;
    gap: 24px;
}

.target-card {

    width: 284px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
}

/* card background color  */
.bg-card1 {
    background-color: rgba(255, 76, 30, 0.05);
    border-radius: 16px;
}

.bg-card2 {
    background-color: rgba(0, 76, 232, 0.05);
    border-radius: 16px;
}

.bg-card3 {
    background-color: rgba(255, 223, 0, 0.05);
    border-radius: 16px;
}


.target-logo {
    width: 56px;
    height: 56px;
}

.target-card>h4 {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    text-align: left;
}

.target-card>p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.target-card>a {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    text-decoration-line: underline;
}

/* next target skill------------------------ */

.nextskill {
    margin-top: 111px;
}

.skill-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

}

.skill {
    width: 1140px;
    height: 220px;
    display: flex;
    gap: 24px;
    padding: 40px;
}

.skill-bg {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;

    background: rgb(255, 255, 255);
}

.skill-logo {
    display: flex;
    align-items: center;
}

.skill-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.skill-text>h4 {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    text-align: left;
}

.skill-text>p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.skill-text>a {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    text-decoration-line: underline;
}

/* ----------------support ---section----------- */

.support {
    background-image: url("../assets/handshake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    padding: 64px 48px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;

}

.support-container {
    height: 186px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.support form {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.support-title {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
}

.support-description {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;

}

.support form {
    display: flex;
}

.feedback-input {
    width: 528px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 19px 20px;

    /* text  */
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}


/* footer -------------------- */

footer {

    background: rgba(13, 19, 33, 0.04);
    margin-top: 80px;
}

.footer-container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 150px;
}


.foot-text {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
}

.social-icon {
    display: flex;
    gap: 24px;
}